<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <%- include ('../includes/navigation.ejs') %>


</head>
<body>
    <% if(prod) { %>
        <div>
            <div>
                <ul>
                <li class="card-title"><%= prod.title %></li>

                <li class="card-text"><%= prod.description %></li>
            
                <li class="list-group-item"><%= prod.price %></li>

                <li class="list-group-item"><%= prod.id %></li>
              
            </ul>
            </div>
                <a href="/admin/edit-product/:<%= prod.id %>?edit=true">
                    Edit the product!</a>
                </div>
            
                
                <div><form action="/shop/create-cart" type="submit" method="POST" >
                <button>Add to the cart!</button>
                <input type="hidden" name ="productId" value="<%=prod.id %>"/> 
                </form>
                </div>
               
        
                <div><form action="/admin/delete-product" type="submit" method="POST">
                <button>Delete Product!</button>
                <input type="hidden" name ="productId" value="<%=prod.id %>"/> 
              </form></div>
               
        
            </div>

    <% }  
    
    else
    { %>
     <h1> No product here!</h1>
        <% }
    %>
     



</body>
</html>




